<!doctype html>
<html lang="en" ng-app="calculatingPalico">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>the Calculating Palico</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
</head>
<body>
<nav class="navbar navbar-material-brown navbar-static-top" role="navigation" data-swiftype-index="false">
	<div class="container">
		<div class="navbar-header">
			<a href="/calculatingpalico/" class="navbar-brand">the Calculating Palico</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/mrmin123/the-calculating-palico"><i class="fa fa-github fa-lg"></i> github</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container" ng-controller="calculatingPalicoController">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">Choose Weapon</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-sm-6 text-right">
							<select id="weapon_type_list" name="weapon_type_list" ng-options="weaponType.id as weaponType.name for weaponType in weaponTypes" ng-model="currentSetup.weaponTypeValue" ng-change="chooseWeaponType()"></select>
						</div>
						<div class="col-xs-6 col-sm-6">
							<select id="weapon_list" name="weapon_list" ng-options="weapon.id as weapon.name for weapon in currentSetup.weapons | orderBy:'name'" ng-model="currentSetup.weaponValue" ng-change="chooseWeapon()"></select>
						</div>
					</div>
					<div ng-show="currentSetup.weaponValue">
						<div class="row top_row">
							<div class="col-xs-6 col-sm-6 text-right">Damage</div>
							<div class="col-xs-6 col-sm-6"><%currentSetup.weaponDetails.attack%></div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 text-right">Affinity</div>
							<div class="col-xs-6 col-sm-6"><%currentSetup.weaponDetails.affinity%>%<span ng-if="currentSetup.weaponDetails.affinity_virus"> / <%currentSetup.weaponDetails.affinity_virus%>%</span></div>
						</div>
						<div class="row" ng-repeat="weaponElement in currentSetup.weaponElements">
							<div class="col-xs-6 col-sm-6 text-right">Element</div>
							<div class="col-xs-6 col-sm-6">
								<%weaponElement.attack%> <i class="fa fa-circle element_marker <%weaponElement.name%>" ng-if="weaponElement.awaken_required == 0"></i><i class="fa fa-circle-o element_marker <%weaponElement.name%>" ng-if="weaponElement.awaken_required == 1"></i> <%weaponElement.name%>
							</div>
						</div>
						<div class="row" ng-if="currentSetup.weaponDetails.phial != null">
							<div class="col-xs-6 col-sm-6 text-right">Phial</div>
							<div class="col-xs-6 col-sm-6"><%currentSetup.weaponDetails.phial%></div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 text-right">Sharpness</div>
							<div class="col-xs-6 col-sm-6">
								<div id="sharpness">
									<span style="width:<%currentSetup.weaponSharpness[0]%>px" class="red"></span>
									<span style="width:<%currentSetup.weaponSharpness[1]%>px" class="orange"></span>
									<span style="width:<%currentSetup.weaponSharpness[2]%>px" class="yellow"></span>
									<span style="width:<%currentSetup.weaponSharpness[3]%>px" class="green"></span>
									<span style="width:<%currentSetup.weaponSharpness[4]%>px" class="blue"></span>
									<span style="width:<%currentSetup.weaponSharpness[5]%>px" class="white"></span>
									<span style="width:<%currentSetup.weaponSharpness[6]%>px" class="purple"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[0]%>px" class="red plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[1]%>px" class="orange plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[2]%>px" class="yellow plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[3]%>px" class="green plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[4]%>px" class="blue plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[5]%>px" class="white plus<%currentSetup.sharpnessCSS%>"></span>
									<span style="width:<%currentSetup.weaponSharpnessPlus[6]%>px" class="purple plus<%currentSetup.sharpnessCSS%>"></span>
								</div>
							</div>
						</div>
						<div class="row top_row">
							<div class="col-xs-12 col-sm-12 text-center"><a href="<%currentSetup.weaponDetails.url_kiranico%>" class="btn btn-default btn-xs" target="_blank">Kiranico <i class="fa fa-external-link"></i></a> <button class="btn btn-primary btn-xs" ng-click="addSetup()" data-toggle="tooltip" tooltip-placement="bottom" tooltip="add a new weapon setup to compare damage output">Add New Setup</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Choose Target Meownster</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 text-center">
							<select id="monster_list" name="monster_list" ng-options="monster.id as monster.name for monster in monsters | orderBy:'sort_name'" ng-model="monsterValue" ng-change="updateMonster()"></select>
						</div>
					</div>
					<div ng-show="monsterValue">
						<div class="weakness_summary">
							<div class="row top_row">
								<div class="col-xs-12 col-sm-12 text-center"><div class="row">Weakness Averages</div></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right">Cut</div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[0]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right">Impact</div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[1]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right">Shot</div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[2]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right"><span class="Fire">Fire</span></div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[3]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right"><span class="Water">Water</span></div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[4]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right"><span class="Ice">Ice</span></div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[5]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right"><span class="Thunder">Thunder</span></div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[6]%></div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 text-right"><span class="Dragon">Dragon</span></div>
								<div class="col-xs-6 col-sm-6"><%monsterWeaknesses[7]%></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 text-center">
								<a href="<%monsterDetails.url_kiranico%>" class="btn btn-default btn-xs" target="_blank">Kiranico <i class="fa fa-external-link"></i></a>
								<a href="<%monsterDetails.url_wikia%>" class="btn btn-default btn-xs" target="_blank">Wikia <i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading toggle_modifiers" ng-click="modPanelCollapse=!modPanelCollapse" data-toggle="tooltip" tooltip-placement="bottom" tooltip="toggle meowdifiers panel">Choose Meowdifiers <i class="fa fa-plus-square-o"></i></div>
				<div class="panel-body modifiers" collapse="modPanelCollapse">
					<div ng-repeat="column in modifierHtmlDisplayGroups" class="col-xs-12 col-md-3">
						<div ng-repeat="group in column">
							<div class="row">
								<div class="col-xs-8 col-sm-8 text-right section_header"><i class="fa fa-cog"></i> <strong><%group.displayName%></strong></strong></div>
							</div>
							<div ng-repeat="modifier in group.modifiers" class="row <%joinTags(currentSetup.modifiers[modifier].effectGroups)%>">
								<div class="col-xs-8 col-sm-8 text-right"><%currentSetup.modifiers[modifier].name%></div>
								<div class="col-xs-4 col-sm-4"><input type="checkbox" ng-model="currentSetup.modifiers[modifier].on" ng-click="currentSetup.updateModifiers(currentSetup.modifiers[modifier])"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Damage Calculation</div>
				<div ng-show="countersum > 0 && monsterValue" class="panel-body">
					<div ng-repeat="setup in storedSetups">
						<div><small><%setup.weaponTypeDetails.name%></small> <strong><%setup.weaponDetails.name%></strong> vs <strong><%monsterDetails.name%></strong> <span class="small" ng-if="current != $index">[<a role="button" ng-click="switchSetup($index)" data-toggle="tooltip" tooltip-placement="bottom" tooltip="edit this setup">edit <i class="fa fa-pencil-square-o"></i></a>]</span><span class="small" ng-if="current == $index">[<span data-toggle="tooltip" tooltip-placement="bottom" tooltip="you are currently editing this setup">edit <i class="fa fa-pencil-square-o"></i></span>]</span> <span class="small" ng-if="storedSetups.length > 1">[<a role="button" ng-click="removeSetup($index)" data-toggle="tooltip" tooltip-placement="bottom" tooltip="remove this setup">remove <i class="fa fa-trash"></i></a>]</span></div>
						<div class="modifiers_list"><strong>Meowdifiers:</strong> <span><ul><li ng-repeat="modifier in setup.modifiers" ng-if="modifier.on == true"><%modifier.name%></li></ul></span></div>

						<table class="table table-condensed table-hover table-bordered table-striped">
							<thead>
								<tr>
									<th>Sharpness: <select id="weapon_sharpness" name="weapon_sharpness" ng-init="setup.sharpnessValue" ng-options="sharpness.id as sharpness.name for sharpness in setup.weaponSharpnessDisplay" ng-model="setup.sharpnessValue"></select>
									<i class="fa fa-chevron-circle-down toggle_moves" ng-model="showMoves" ng-click="showMoves=!showMoves" data-toggle="tooltip" tooltip-placement="bottom" tooltip="toggle move list"></i> <i class="fa fa-chevron-circle-right toggle_parts" ng-model="showParts" ng-click="showParts=!showParts" data-toggle="tooltip" tooltip-placement="bottom" tooltip="toggle body parts"></i></th>
									<th></th>
									<th ng-show="showParts" ng-repeat="monsterDamage in monsterDetails.damage" class="dmg_td"><%monsterDamage.name%></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div ng-if="currentSetup.weaponTypeValue==2">
											Spirit Gauge: <select id="ls_spirit_gauge" name="ls_phial_count" ng-init="setup.modSummary.lsspirit" ng-options="item.value as item.name for item in setup.ls_spirit_options" ng-model="setup.modSummary.lsspirit"></select>
										</div>
										<div ng-if="currentSetup.weaponTypeValue==10">
											Phial Count: <select id="cb_phial_count" name="cb_phial_count" ng-init="setup.modSummary.phialc" ng-options="item.value as item.name for item in setup.cb_phial_options" ng-model="setup.modSummary.phialc"></select>
										</div>
									</td>
									<td class="dmg_td">
										<span class="dmg"><%(allDamageRange = calcDamageFromRange(setup.usableMoves, setup.weaponDetails, setup.weaponTypeDetails, monsterDetails.damage, setup.sharpnessValue, setup.modSummary)).min.physicalDamage%></span><span ng-repeat="element in allDamageRange.min.elementalTypes" class="element_dmg <%element.name%>"><%"+" + allDamageRange.min.elementalDamage[$index]%></span>
										~
										<span class="dmg"><%allDamageRange.max.physicalDamage%></span><span ng-repeat="element in allDamageRange.max.elementalTypes" class="element_dmg <%element.name%>"><%"+" + allDamageRange.max.elementalDamage[$index]%></span>
									</td>
									<td ng-show="showParts" ng-repeat="monsterDamage in monsterDetails.damage" class="dmg_td">
										<span class="dmg"><%(partDamageRange = calcDamageFromRange(setup.usableMoves, setup.weaponDetails, setup.weaponTypeDetails, [monsterDamage], setup.sharpnessValue, setup.modSummary)).min.physicalDamage%></span><span ng-repeat="element in partDamageRange.min.elementalTypes" class="element_dmg <%element.name%>"><%"+" + partDamageRange.min.elementalDamage[$index]%></span> 
										~
										<span class="dmg"><%partDamageRange.max.physicalDamage%></span><span ng-repeat="element in partDamageRange.max.elementalTypes" class="element_dmg <%element.name%>" ><%"+" + partDamageRange.max.elementalDamage[$index]%></span> 
									</td>
								</tr>
								<tr ng-show="showMoves" ng-repeat="weaponMotion in setup.usableMoves">
									<td><%weaponMotion.name%></td>
									<td class="dmg_td">
									<span class="dmg"><%(motionDamageRange = calcDamageFromRange([weaponMotion], setup.weaponDetails, setup.weaponTypeDetails, monsterDetails.damage, setup.sharpnessValue, setup.modSummary)).min.physicalDamage%></span><span ng-repeat="element in motionDamageRange.min.elementalTypes" class="element_dmg <%element.name%>"><%"+" + motionDamageRange.min.elementalDamage[$index]%></span>
									~
									<span class="dmg"><%motionDamageRange.max.physicalDamage%></span><span ng-repeat="element in motionDamageRange.max.elementalTypes" class="element_dmg <%element.name%>"><%"+" + motionDamageRange.max.elementalDamage[$index]%></span>
									</td>
									<td ng-show="showParts" ng-repeat="monsterDamage in monsterDetails.damage" class="dmg_td"><span class="dmg"><%(calculatedDamage = calcDamage(weaponMotion, setup.weaponDetails, setup.weaponTypeDetails, monsterDamage.damage, setup.sharpnessValue, setup.modSummary)).physicalDamage%></span><span ng-repeat="element in calculatedDamage.elementalTypes" class="element_dmg <%element.name%>"><%"+" + calculatedDamage.elementalDamage[$index]%></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="include.js"></script>
</body>
</html>
