body {
	font-size: 1.4em;
	background-color: #eee;
}

label {
	font-weight: normal;
}

ul.nav i {
	font-size: 1.9em;
}

.navbar .navbar-brand:hover, .navbar .navbar-nav > li > a:hover {
	color: rgba(255, 255, 255, 0.95)
}

.panel {
	box-shadow: 0 0 5px #bbb;
	border-radius: 0;
}

.element_marker {
	font-size: 1.1em;
	line-height: 1.3em;
}

.relic_input {
	width: 4em;
	text-align: right;
}

.weakness_summary {
	font-size: 0.85em;
	font-weight: bold;
}

.gray {
	background-color: #eee;
}

.weakness_summary div.row:first-child {
	font-weight: normal;
}

.section_header {
	margin-top: 0.6em;
}

.top_row {
	padding-top: 15px;
}

.modifiers {
	font-size: 0.8em;
}

.modifiers .text-right {
	padding-top: 2px;
}

.modifiers_list {
	font-size: 0.8em;
}

.modifiers_list ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.modifiers_list ul li {
	display: inline;
	padding: 0 2px 0 2px;
	margin: 0 5px 0 0;
	border: 1px solid #000;
	border-radius: 3px;
}

.url_box {
	margin: 5px;
	padding: 5px 10px;
	border: 1px dashed #000;
	background-color: #efefef;
	font-family: 'Courier New', monospace;
	font-size: 0.8em;
	word-wrap: break-word;
}

.table {
	margin: 6px 0 15px 0;
	font-size: 0.9em;
}

.dotted {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}

table thead tr th {
	font-weight: normal;
}

table thead tr th:nth-child(n+2) {
	font-size: 0.85em;
	vertical-align: top;
}

table tbody tr:nth-child(n+2) td:nth-child(1) {
	font-size: 0.85em;
	vertical-align: middle;
}

.toggle_modifiers, .toggle_moves, .toggle_parts {
	cursor: pointer;
}

table tbody tr:nth-child(n+1) td:nth-child(n+1) {
	vertical-align: middle;
}

table tr td:first-child {
	width: 15em;
}

.dmg_td {
	display: table-cell;
	text-align: center;
	line-height: 1em;
}

.dmg {
	font-weight: bold;
	vertical-align: middle;
}

.element_dmg {
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
}

.element_dmg i {
	font-size: 0.9em;
	font-weight: normal;
	vertical-align: middle;
}

#sharpness_bar {
	width: 94px;
	height: 20px;
	background-color: #d3d3d3;
	float: left;
	clear: both;
}

#sharpness_bar span {
	display: inline-block;
	height: 100%;
	float: left;
	border-top: 4px solid #d3d3d3;
	border-bottom: 4px solid #d3d3d3;
}

#sharpness_bar span:first-child {
	border-left: 4px solid #d3d3d3;
}

#sharpness_bar .plus {
	border-top: 4px solid #939393;
	border-bottom: 4px solid #939393;
}

#sharpness_bar .plus-active {
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
}

#sharpness_bar .red {
	background-color: #c00c38;
}

#sharpness_bar .orange {
	background-color: #e85018;
}

#sharpness_bar .yellow {
	background-color: #f0c830;
}

#sharpness_bar .green {
	background-color: #58d000;
}

#sharpness_bar .blue {
	background-color: #3068e8;
}

#sharpness_bar .white {
	background-color: #f0f0f0;
}

#sharpness_bar .purple {
	background-color: #c3c;
}

.Fire {
	color: #c00c38;
}

.Water {
	color: #0099ff;
}

.Ice {
	color: #66ccff;
}

.Thunder {
	color: #ff9900;
}

.Dragon {
	color: #3cb05d;
}

.Poison {
	color: #cc44ff;
}

.Sleep {
	color: #9999ff;
}

.Para {
	color: #f0c830;
}

.Blast {
	color: magenta;
}

#footer {
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 2em;
}

/* modified awesome-bootstrap-checkbox css
	https://github.com/flatlogic/awesome-bootstrap-checkbox */
.checkbox {
	margin-top: 0;
	margin-bottom: 0;
}

/* default checkbox + label styling */
.checkbox label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 0;
	padding-right: 25px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	color: #555555;
}

/* custom checkbox + label styling for weapon (relic) panel */
.weapon_panel .checkbox label {
	padding-right: 20px;
}

.weapon_panel .checkbox label::before {
	width: 14px;
	height: 14px;
	right: 0;
	top: 2px;
	margin-right: 2px;
}

.weapon_panel .checkbox label::after {
	width: 13px;
	height: 13px;
	right: 0;
	top: 1px;
	margin-right: 1px;
	padding-top: 0;
	font-size: 11px;
}

/* custom checkbox + label styling for modifiers panel */
.modifiers .label {
	min-height: 0;
}
.modifiers .checkbox label::before {
	width: 13px;
	height: 13px;
	right: 0;
	top: 1px;
	margin-right: 2px;
}

.modifiers .checkbox label::after {
	width: 12px;
	height: 12px;
	right: 0;
	top: 1px;
	margin-right: 4px;
	padding-top: 0;
	font-size: 9px;
}

/* custom checkbox + label styling for damage panel header */
.damage_panel .checkbox label {
	padding-right: 20px;
}

.damage_panel .checkbox label::before {
	width: 14px;
	height: 14px;
	right: 0;
	top: 2px;
	margin-right: 2px;
}

.damage_panel .checkbox label::after {
	width: 13px;
	height: 13px;
	right: 0;
	top: 1px;
	margin-right: 1px;
	padding-top: 0;
	font-size: 11px;
}

/* custom checkbox + label styling for damage panel */
.dmg_td .checkbox label {
	padding-right: 16px;
	min-height: 0;
}

.dmg_td .checkbox label::before {
	width: 12px;
	height: 12px;
	right: 0;
	top: 1px;
	margin-right: 2px;
}

.dmg_td .checkbox label::after {
	width: 11px;
	height: 11px;
	right: 0;
	top: 1px;
	margin-right: 2px;
	padding-top: 0;
	font-size: 9px;
}

/* misc */
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
	opacity: 0;
	z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
	font-family: "FontAwesome";
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {

}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
}

.checkbox.checkbox-inline {
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
	background-color: #337ab7;
	border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
	color: #fff;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
	color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
	color: #fff;
}
