body {
	font-size: 1.4em;
	background-color: #eee;
}

.panel {
	box-shadow: 0 0 5px #bbb;
	border-radius: 0;
}

.weakness_summary {
	font-size: 0.85em;
	font-weight: bold;
}

.weakness_summary div.row:first-child {
	font-weight: normal;
}

.section_header {
	margin-top: 0.6em;
}

.top_row {
	padding-top: 15px;
}

.modifiers {
	font-size: 0.8em;
}

.modifiers .text-right {
	padding-top: 2px;
}

.table {
	font-size: 0.9em;
}

table tr td:first-child {
	width: 15em;
}

.dmg_td {
	text-align: center;
	line-height: 0.9em;
}

.dmg {
	font-weight: bold;
}

.element_marker {
	font-size: 1.1em;
	line-height: 1.3em;
}

.element_dmg {
	font-size: 0.8em;
	font-weight: bold;
}

table tr td i.fa {
	cursor: pointer;
}

#sharpness {
	width: 94px;
	height: 20px;
	background-color: #d3d3d3;
	float: left;
	clear: both;
}

#sharpness span {
	display: inline-block;
	height: 100%;
	float: left;
	border-top: 4px solid #d3d3d3;
	border-bottom: 4px solid #d3d3d3;
}

#sharpness span:first-child {
	border-left: 4px solid #d3d3d3;
}

#sharpness .plus {
	border-top: 4px solid #939393;
	border-bottom: 4px solid #939393;
}

#sharpness .plus-active {
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
}

#sharpness .red {
	background-color: #c00c38;
}

#sharpness .orange {
	background-color: #e85018;
}

#sharpness .yellow {
	background-color: #f0c830;
}

#sharpness .green {
	background-color: #58d000;
}

#sharpness .blue {
	background-color: #3068e8;
}

#sharpness .white {
	background-color: #f0f0f0;
}

#sharpness .purple {
	background-color: #c3c;
}

.Fire {
	color: #c00c38;
}

.Water {
	color: #0099ff;
}

.Ice {
	color: #66ccff;
}

.Thunder {
	color: #ff9900;
}

.Dragon {
	color: #3cb05d;
}

.Poison {
	color: #cc44ff;
}

.Sleep {
	color: #9999ff;
}

.Para {
	color: #f0c830;
}

.Blast {
	color: magenta;
}
